<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Questionário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script> 
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    </head>

    <body ng-app> 
        
       <div ng-include="'http://localhost:8084/questionario/views/template/menu.html'"></div>
        
    </body>
</html>
