<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/question?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <!-- Todas as classes mapeadas do hibernate -->
    <mapping class="br.com.questionario.model.Destinatario"/>
    <mapping class="br.com.questionario.model.Pergunta"/>
    <mapping class="br.com.questionario.model.Resposta"/>
    <mapping class="br.com.questionario.model.Gabarito"/>
    <mapping class="br.com.questionario.model.Questionario"/>
    <mapping class="br.com.questionario.model.Usuario"/>
  </session-factory>
</hibernate-configuration>
